In [7]:
df

             name  age
job
Programmer   Mike   30
Clerk         Bob   80
Designer    Alice   45

In [8]:
df1+df2

    a
0  31
1  12
2  23

In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({
    'a': [1,2,3]
}) #default index [0,1,2]

df2 = pd.DataFrame({
    'a': [10,20,30]
}, index = [1,2,0])

In [6]:
#Series
values = [10,20,30,40,50]
s = pd.Series(values, index = ['a', 'b','c','d','e'])


s.loc['a']
#Data frames
df = pd.DataFrame({
    'name': ['Mike','Bob','Alice'],
    'age': [30,80,45],
    'job': ['Programmer','Clerk', 'Designer']
})

df = df.set_index('age')