In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/danbar/Desktop/project_x/health_activity_data.csv')

In [4]:
df.Gender = df.Gender.fillna('Male')

In [10]:
df.groupby('Gender').agg({
    'Age': ['mean', 'min', 'max', 'std', 'sum'],
    'ID': ['mean', 'min', 'max', 'std', 'sum']
    
})

              Age                                    ID                        \
             mean min max        std    sum        mean min   max         std
Gender
Female  49.169811  18  79  18.088092  23454  502.979036   3  1000  284.677777
Male    50.483748  18  79  18.132685  26403  498.239006   1   999  292.799675


           sum
Gender
Female  239921
Male    260579